<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nistores.awesomeurch.nistores">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Folders.Helpers.InitiateVolley"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Folders.Pages.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Folders.Pages.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Folders.Pages.CreateAccountActivity"
            android:label="@string/create_account"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Folders.Pages.SearchActivity"
            android:label="@string/search"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.searchResultActivity"
            android:label="@string/search_results"
            android:parentActivityName=".Folders.Pages.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.SearchActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.FavouritesActivity"
            android:label="@string/favourites"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.ExploreStoresActivity"
            android:label="@string/explore_stores"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.CategoriesActivity"
            android:label="@string/categories"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.OwnStoreActivity"
            android:label="@string/own_store"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.OwnStoreActivity" />
        </activity>
        <!--
        <activity android:label="@string/notification" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.NotificationsActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>
        <activity android:label="@string/about_us" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.AboutUsActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>
        <activity android:label="@string/terms_policy" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.TermsPolicyActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>
        <activity android:label="@string/disclaimer" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.DisclaimerActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>

        <activity android:label="@string/dashboard" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.DashboardActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>
        <activity android:label="@string/polls" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.pollsActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity"/>
        </activity>

        <activity android:label="@string/my_stores" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.MyStoresActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MyStoresActivity"/>
        </activity>
        <activity android:label="@string/help_desk" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.HelpDeskActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.HelpDeskActivity"/>
        </activity>
        <activity android:label="@string/negotiate" android:name="com.nistores.awesomeurch.nistores.Folders.Pages.NegotiateActivity" android:parentActivityName="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.nistores.awesomeurch.nistores.Folders.Pages.NegotiateActivity"/>
        </activity>
        -->

        <activity
            android:name=".Folders.Pages.SuccessActivity"
            android:label="@string/success_product"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity android:name=".Folders.Pages.AllSearchResultsActivity" />
        <activity
            android:name=".Folders.Pages.EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".Folders.Pages.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.ProfileActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.DeliveryOrderActivity"
            android:label="@string/delivery_orders"
            android:parentActivityName=".Folders.Pages.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.MainActivity" />
        </activity>
        <activity
            android:name=".Folders.Pages.InitiateDeliveryActivity"
            android:label="@string/initiate_delivery"
            android:parentActivityName=".Folders.Pages.DeliveryOrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nistores.awesomeurch.nistores.Folders.Pages.DeliveryOrderActivity" />
        </activity>
        <activity android:name=".Folders.Pages.deliveredOrderActivity"></activity>
    </application>

</manifest>